form,p{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Heiti SC", sans-serif;
    font-size: 18px;
    background: url("timg.jpg") no-repeat top center;
    color: #ffffff;
}
form{
    width: 420px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    margin: 250px auto;
    padding-top: 60px;
    background: rgba(255,255,255,0.1);
}
p{
    margin-top: 15px;
    text-align: center;
}
.user,.pwd{
    border-radius: 5px;
    width: 165px;
    height: 18px;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 2px 2px 2px 22px;
    color: #ffffff;
}
.user{
    background: url("3.png") no-repeat 5px center rgba(255,255,255,0.1);
}
.pwd{
    background: url("4.png") no-repeat 5px center rgba(255,255,255,0.1);
}
.btn01{
    width: 190px;
    height: 25px;
    border-radius: 3px;
    margin-left: 65px;
    background: #57b2c9;
    color: #ffffff;
    border: none;
}