body,h2,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
body{
    font-family: "Heiti SC", sans-serif;
    font-size: 12px;
}
.qyxw{
    width: 300px;
    height: 200px;
    margin: 20px auto;
}
.head{
    font-size: 12px;
    color: #ffffff;
    background: #ff6600 url("title_bg.png") no-repeat 11px 7px;
    padding-left: 34px;
    height: 30px;
    line-height: 30px;
    border-bottom: 5px solid #cc5200;
}
.content{
    background: #fff5ee;
    padding: 25px 0 0 15px;
}
.content li{
    height: 26px;
    background: url("li_bg.png") no-repeat left top;
    padding-left: 22px;
}
.content li a:link,.content li a:visited{
    color: #666666;
    text-decoration: none;
}
.content li a:hover{
    color: #ff6600;
}
.content li a:active{
    color: #de3299;
}